/* CSS */

body {
  background-color: hsl(240, 28%, 13%);
  text-align: center;
}
  
#title {
  font-family: 'Changa', sans-serif;
  font-size: 40px;
  text-align: center;
  color: hsl(240, 22%, 80%);
   }

#iconic-duo {
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: hsl(240, 22%, 80%);
}

#image {
  display: block;
  height: auto; /* Mantain proportions */
  width: 27%;
  max-width: 100%;
  border-radius: 50%; /* Rounded image */
  margin: auto;
  position: relative; top: 10px; bottom: 10px;
}
  
#img-caption {
  margin: 30px;
  margin-top: 60px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  color: hsl(240, 22%, 40%);
}

.disco-section {
  /* Centers the whole discography section */
  width: 900px;
  margin: 0 auto;
}

.disco-header {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  color: hsl(240, 22%, 85%);
}

.disco-ulist {
  font-size: 21px;
  font-family: 'Varela Round', sans-serif;
  color: hsl(240, 22%, 85%);
}

.album-review {
  font-size: 17px;
  text-align: justify;
  font-family: 'Varela Round', sans-serif;
  color: hsl(240, 22%, 85%)
}

.source {
  width: 130px;
  margin: 0 auto;
  padding: 0.1mm 0mm;
  border-radius: 12%;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  color: hsl(240, 22%, 85%);
  background-color: hsl(240, 22%, 50%);
}

.outro-pic {
  height: 170px;
  width: auto;
  margin: 35px auto;
  border-radius: 50%;
}

.outro-header {
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: 'Rubik', sans-serif;
  color: hsl(240, 22%, 90%);
}

.outro-text {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 40px;
  font-style: italic;
  font-family: 'Mitr', sans-serif;
  color: hsl(40, 100%, 75%);
}

.test-block {
  margin: 50px auto;
}

/* Imported fonts */

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');