/* CSS */

body {
  background-color: hsl(240, 28%, 10%);
  text-align: center;
}
  
#title {
  font-family: 'Changa', sans-serif;
  font-size: 40px;
  text-align: center;
  color: hsl(240, 22%, 80%);
   }

#iconic-duo {
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: hsl(240, 22%, 80%);
}

#image {
  display: block;
  height: auto; /* Mantain proportions */
  width: 27%;
  max-width: 100%;
  border-radius: 50%; /* Rounded image */
  margin: auto;
  position: relative; top: 10px; bottom: 10px;
}
  
#img-caption {
  margin: 30px;
  margin-top: 60px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  color: hsl(240, 22%, 40%);
}

#tribute-info {
  font-family: 'Poppins', sans-serif;
  color: hsl(240, 22%, 85%);
}

.album-review{
  font-size: 12px;
  text-align: center;
}

#outro {
  font-family: 'Rubik', sans-serif;
  color: hsl(240, 22%, 90%);
}

.test-block {
  margin: 50px auto;
}

/* Imported fonts */

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');