/* CSS */

body {
  background-color: hsl(240, 28%, 10%);
  text-align: center;
}
  
#title {
  font-family: 'Changa', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #9292b9;
   }

#iconic-duo {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  text-align: center;
  color: #c1c1d7;
}

#image {
  width: 85%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  position: relative; bottom: 10px;
}
  
#img-caption {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  color: #b1b1cd;
}

#tribute-info {
  font-family: 'Poppins', sans-serif;
  color: #d0d0e1;
}

#outro {
  font-family: 'Rubik', sans-serif;
  color: #e0e0eb;
}

/* Imported fonts */

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');